<div class="activities">
  <div class="row">
    <div class="col">
      <h3>Recent Activities</h3>
    </div>
    <div class="col">
      <button class="bouton">View a report</button>
    </div>
  </div>

<main>
  <p>Today</p>
  <div *ngFor="let activity of todayActivities ">

    <div>
      <div class="row">
        <div class="col">
          <p><span class="icon-compass"  *ngIf="activity.type=='sending'"></span> {{ activity.label}}</p>
          <span  class="light" *ngIf="activity.type=='sending'">Sent</span>
          <span   class="light" *ngIf="activity.type!='sending'">{{activity.type}}</span>
        </div>
        <div class="col">
          <p>
            <span   class="light" *ngIf="activity.type=='conversion'" >+</span>
            <span   class="light" *ngIf="activity.type!='conversion'" >-</span>
            {{ activity.amount}} <strong> USD</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <p>Yesterday</p>
  <div *ngFor="let activity of yestdayActivities ">
    <div>
      <div class="row">
        <div class="col">
          <p>{{ activity.label}}</p>
          <span *ngIf="activity.type=='sending'">Sent</span>
          <span *ngIf="activity.type!='sending'">{{activity.type}}</span>
        </div>
        <div class="col">
          <p>
            <span  *ngIf="activity.type=='conversion'" >+</span>
            <span  *ngIf="activity.type!='conversion'" >-</span>
            {{ activity.amount}}<strong> USD</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
</div>

