<div class="title">
  <span class="card_title">Your Cards</span>  <button class="bouton">New card <span class="icon-plus"></span> </button>
  <span class="icon-notif"></span>
</div>

<div>
  <div class="row">
    <div class="col">
      <app-card-item [card]="getCard(1)" ></app-card-item>
    </div>
    <div class="col">
      <app-card-item [card]="getCard(2)"></app-card-item>
    </div>
    <div class="col">
      <app-card-item [card]="getCard(3)"></app-card-item>
    </div>
  </div>
</div>


