.row{
  // box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1em;
  border-radius: 4px;
  margin: 70px 0 70px 0;
  width: 500px;
  margin-left: 25px;
  border-bottom: #e9e9ed solid;
}
strong{
  font-size: 1.5em;
  color: #003063;
}
