
<nav class="navbar bg-light"  style="width:25%">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <h1>Klamma</h1>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><span class="icon-overview"></span>    Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <span class="icon-payment"></span>    Payments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="icon-reports"></span>     Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">    Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="icon-cog"></span>    Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <span class="icon-account"></span>   Account</a>
      </li>
    </ul>
  </div>
</nav>
