<nav class="nav flex-column">
  <a class="nav-link active" aria-current="page" href="#"><span class="icon-overview"></span>Overview</a>
  <a class="nav-link" href="#">Cards</a>
  <a class="nav-link" href="#"> <span class="icon-payment"></span>Payments</a>
  <a class="nav-link" href="#"><span class="icon-reports"></span>Reports</a>
  <a class="nav-link" href="#">Contacts</a>
  <a class="nav-link" href="#"><span class="icon-cog"></span>Settings</a>
  <a class="nav-link" href="#"> <span class="icon-account"></span> Account</a>
  <span class="icon-overview"></span>
</nav>
