
<nav class="navbar bg-white"  style="width:100%">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <h1>Klamma</h1>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><span class="icon-overview"></span> <span class="title"> Overview </span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <span class="title"> Cards</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <span class="icon-payment"></span>  <span class="title"> Payments</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="icon-reports"></span>    <span class="title">   Reports</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">    <span class="title">Contacts</span></a>
      </li>
      <div class="bas">
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="icon-cog"></span>  <span class="title">   Settings</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <span class="icon-account"></span>   <span class="title">  Account</span></a>
        </li>
      </div>

    </ul>
  </div>
</nav>
