.item{
  width: 175px;
  height: 120px;
  align-items: center;
  text-align: center;
  border-left: #e9e9ed solid;
  // border-right: solid;
}
.col{
  // background-color: yellowgreen;
  width: 0%;
}
